= form_with(url: products_path,
  class: "filters-container",
  method: :get,
  data: { controller: "filters", filters_target: "form", turbo_frame: "table" }) do |f|

  .filters-group
    = f.label :category, "Filter by category"
    = f.select :category,
      options_for_select(Product.categories.keys, params[:category]),
      { include_blank: true },
      { data: { action: "filters#submit" } }

  .filters-group
    = f.label :search, "Search"
    = f.text_field :search,
      { value: params[:search], data: { action: "filters#submit" } }
